<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>アクセス禁止アカウント一覧 | 自己紹介アプリケーション</title>
</head>
<body>
<div class="container">
    <h1>アクセス禁止アカウント一覧</h1>
    <table class="table">
        <thead>
        <tr>
            <th>メールアドレス</th>
            <th>ユーザー名</th>
            <th>復元</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${invalidUserList}">
            <th th:text="${user.name}">(name)</th>
            <th th:text="${user.email}">(email)</th>
            <th>
                <form name="restoration" th:action="@{/admin/restoration}" method="post">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <input type="hidden" name="status" th:value="${user.status}">
                    <button type="submit" class="btn btn-primary">復元</button>
                </form>
            </th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>