<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>アカウント一覧 | 自己紹介アプリケーション</title>
</head>
<body>
<div class="container">
    <h1>アカウント一覧</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ユーザー名</th>
            <th>ステータス</th>
            <th>ステータス変更</th>
            <th>編集</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <th th:text="${user.name}">(name)</th>
            <th th:text="${user.status}">(status)</th>
            <th><a href="/admin/userEditForm.html" th:href="@{/admin/userEditForm/{userId}(userId=${user.id})}">編集</a></th>
            <th>
                <form name="changeStatus" th:action="@{/admin/changeStatus}" method="post">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <input type="hidden" name="status" th:value="${user.status}">
                    <button type="submit" class="btn btn-primary">ステータス切り替え</button>
                </form>
            </th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>