<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>トップページ | 自己紹介アプリケーション</title>
</head>
<body>
<div class="container">
    <h1>ユーザー一覧ページ</h1>
    <ul>
        <li>
            <form name="logout" th:action="@{/logout}" method="post">
                <a href="javascript:logout.submit()">ログアウト</a>
            </form>
        </li>
    </ul>
    <table class="table">
        <thead>
        <tr>
            <th>名前</th>
            <th>詳細</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <th th:text="${user.name}">(name)</th>
            <th><a href="/userShow.html" th:href="@{/userShow/{userId}(userId=${user.id})}">詳細</a></th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>